[submodule "mt3620_m4_software"]
	path = mt3620_m4_software
	url = https://github.com/MediaTek-Labs/mt3620_m4_software.git
[submodule "threadxGeneric"]
	path = Examples/AvnetGenericRTApp/threadx
	url = https://github.com/azure-rtos/threadx
[submodule "threadxPT19"]
	path = Examples/Avnet-ALS-PT19-LIghtSensor/threadx
	url = https://github.com/azure-rtos/threadx
[submodule "threadxGrove"]
	path = Examples/AvnetGroveGPS/threadx
	url = https://github.com/azure-rtos/threadx
[submodule "Examples/Avnet-LPS22HH-PressureSensorRTApp/threadx"]
	path = Examples/Avnet-LPS22HH-PressureSensorRTApp/threadx
	url = https://github.com/azure-rtos/threadx
[submodule "Examples/Avnet-LSM6DSO-AccelerometerRTApp/threadx"]
	path = Examples/Avnet-LSM6DSO-AccelerometerRTApp/threadx
	url = https://github.com/azure-rtos/threadx
[submodule "Examples/Avnet-HTU21D-TempHumRTApp/threadx"]
	path = Examples/Avnet-HTU21D-TempHumRTApp/threadx
	url = https://github.com/azure-rtos/threadx
[submodule "Examples/AvnetThermoClickRTApp/threadx"]
	path = Examples/AvnetThermoClickRTApp/threadx
	url = https://github.com/azure-rtos/threadx
[submodule "Examples/AvnetLightRanger5-RTApp/threadx"]
	path = Examples/AvnetLightRanger5-RTApp/threadx
	url = https://github.com/azure-rtos/threadx
[submodule "Examples/AvnetLightRanger5-RTApp/mikroeInterface"]
	path = Examples/AvnetLightRanger5-RTApp/mikroeInterface
	url = https://github.com/Avnet/SphereMikroeInterface.git
[submodule "Examples/Avnet-TE-MS8607-RTApp/mikroeInterface"]
	path = Examples/Avnet-TE-MS8607-RTApp/mikroeInterface
	url = https://github.com/Avnet/SphereMikroeInterface.git
[submodule "Examples/Avnet-TE-MS8607-RTApp/threadx"]
	path = Examples/Avnet-TE-MS8607-RTApp/threadx
	url = https://github.com/azure-rtos/threadx
[submodule "Examples/Avnet-TE-MS8607-AMS-8801/mikroeInterface"]
	path = Examples/Avnet-TE-MS8607-AMS-8801/mikroeInterface
	url = https://github.com/Avnet/SphereMikroeInterface.git
[submodule "Examples/Avnet-TE-MS8607-AMS-8801/threadx"]
	path = Examples/Avnet-TE-MS8607-AMS-8801/threadx
	url = https://github.com/azure-rtos/threadx
[submodule "Examples/Avnet-SmartRetailShelf-PHT-Lightranger5-RTApp/threadx"]
	path = Examples/Avnet-SmartRetailShelf-PHT-Lightranger5-RTApp/threadx
	url = https://github.com/azure-rtos/threadx
[submodule "Examples/Avnet-SmartRetailShelf-PHT-Lightranger5-RTApp/mikroeInterface"]
	path = Examples/Avnet-SmartRetailShelf-PHT-Lightranger5-RTApp/mikroeInterface
	url = https://github.com/Avnet/SphereMikroeInterface.git
[submodule "Examples/AvnetAirQuality5RTApp/threadx"]
	path = Examples/AvnetAirQuality5RTApp/threadx
	url = https://github.com/azure-rtos/threadx
[submodule "Examples/AvnetAirQuality5RTApp/mikroeInterface"]
	path = Examples/AvnetAirQuality5RTApp/mikroeInterface
	url = https://github.com/Avnet/SphereMikroeInterface.git
[submodule "Examples/AvnetPWRMeterClickRTApp/threadx"]
	path = Examples/AvnetPWRMeterClickRTApp/threadx
	url = https://github.com/azure-rtos/threadx
[submodule "Examples/AvnetLSM6DSLClickRTApp/threadx"]
	path = Examples/AvnetLSM6DSLClickRTApp/threadx
	url = https://github.com/azure-rtos/threadx
[submodule "Examples/AvnetLSM6DSLClickRTApp/mikroeInterface"]
	path = Examples/AvnetLSM6DSLClickRTApp/mikroeInterface
	url = https://github.com/Avnet/SphereMikroeInterface.git
[submodule "Examples/AvnetPWRMeterClickRTApp/mikroeInterface"]
	path = Examples/AvnetPWRMeterClickRTApp/mikroeInterface
	url = https://github.com/Avnet/SphereMikroeInterface.git
