# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
MT3620_M4_Sample_Code/AzureRTOS/AvnetGroveGPS/out/ARM-Debug/.ninja_deps
MT3620_M4_Sample_Code/AzureRTOS/AvnetGroveGPS/out/ARM-Debug/.ninja_log
MT3620_M4_Sample_Code/AzureRTOS/AvnetGroveGPS/out/ARM-Debug/AvnetGroveGPS.imagepackage
MT3620_M4_Sample_Code/AzureRTOS/AvnetGroveGPS/out/ARM-Debug/build.ninja
MT3620_M4_Sample_Code/AzureRTOS/AvnetGroveGPS/out/ARM-Debug/cmake_install.cmake
MT3620_M4_Sample_Code/AzureRTOS/AvnetGroveGPS/out/ARM-Debug/CMakeCache.txt
MT3620_M4_Sample_Code/AzureRTOS/AvnetGroveGPS/out/ARM-Debug/compile_commands.json
MT3620_M4_Sample_Code/AzureRTOS/AvnetGroveGPS/out/ARM-Debug/CPackConfig.cmake
MT3620_M4_Sample_Code/AzureRTOS/AvnetGroveGPS/out/ARM-Debug/CPackSourceConfig.cmake
MT3620_M4_Sample_Code/AzureRTOS/AvnetGroveGPS/out/ARM-Debug/rules.ninja
MT3620_M4_Sample_Code/AzureRTOS/AvnetGroveGPS/out/ARM-Debug/.cmake/api/v1/query/client-vscode/query.json
MT3620_M4_Sample_Code/AzureRTOS/AvnetGroveGPS/out/ARM-Debug/.cmake/api/v1/reply/cache-v2-73e7c028918eb38070b2.json
MT3620_M4_Sample_Code/AzureRTOS/AvnetGroveGPS/out/ARM-Debug/.cmake/api/v1/reply/codemodel-v2-9f9b119c595e6197413d.json
MT3620_M4_Sample_Code/AzureRTOS/AvnetGroveGPS/out/ARM-Debug/.cmake/api/v1/reply/index-2021-04-01T16-36-30-0196.json
MT3620_M4_Sample_Code/AzureRTOS/AvnetGroveGPS/out/ARM-Debug/.cmake/api/v1/reply/target-AvnetGroveGPS-Debug-c510b4a16fca57f44843.json
MT3620_M4_Sample_Code/AzureRTOS/AvnetGroveGPS/out/ARM-Debug/.cmake/api/v1/reply/target-MakeImage-Debug-9ccd0d808f6a7d38a18f.json
MT3620_M4_Sample_Code/AzureRTOS/AvnetGroveGPS/out/ARM-Debug/.cmake/api/v1/reply/target-MT3620_M4_BSP-Debug-12edb4f495d9db81de07.json
MT3620_M4_Sample_Code/AzureRTOS/AvnetGroveGPS/out/ARM-Debug/.cmake/api/v1/reply/target-MT3620_M4_Driver-Debug-d7533d5fe91df0d2a5f2.json
MT3620_M4_Sample_Code/AzureRTOS/AvnetGroveGPS/out/ARM-Debug/.cmake/api/v1/reply/target-threadx-Debug-c9f290b7a0411fadcff3.json
MT3620_M4_Sample_Code/AzureRTOS/AvnetGroveGPS/out/ARM-Debug/approotAvnetGroveGPS/app_manifest.json
MT3620_M4_Sample_Code/AzureRTOS/AvnetGroveGPS/out/ARM-Debug/approotAvnetGroveGPS/bin/app
MT3620_M4_Sample_Code/AzureRTOS/AvnetGroveGPS/out/ARM-Debug/CMakeFiles/cmake.check_cache
MT3620_M4_Sample_Code/AzureRTOS/AvnetGroveGPS/out/ARM-Debug/CMakeFiles/CMakeError.log
MT3620_M4_Sample_Code/AzureRTOS/AvnetGroveGPS/out/ARM-Debug/CMakeFiles/CMakeOutput.log
MT3620_M4_Sample_Code/AzureRTOS/AvnetGroveGPS/out/ARM-Debug/CMakeFiles/TargetDirectories.txt
MT3620_M4_Sample_Code/AzureRTOS/AvnetGroveGPS/out/ARM-Debug/CMakeFiles/3.16.3/CMakeASMCompiler.cmake
MT3620_M4_Sample_Code/AzureRTOS/AvnetGroveGPS/out/ARM-Debug/CMakeFiles/3.16.3/CMakeCCompiler.cmake
MT3620_M4_Sample_Code/AzureRTOS/AvnetGroveGPS/out/ARM-Debug/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
MT3620_M4_Sample_Code/AzureRTOS/AvnetGroveGPS/out/ARM-Debug/CMakeFiles/3.16.3/CMakeSystem.cmake
MT3620_M4_Sample_Code/AzureRTOS/AvnetGroveGPS/out/ARM-Debug/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
MT3620_M4_Sample_Code/AzureRTOS/AvnetGroveGPS/out/ARM-Debug/lib/MT3620_M4_Driver/cmake_install.cmake
MT3620_M4_Sample_Code/AzureRTOS/AvnetGroveGPS/out/ARM-Debug/lib/MT3620_M4_Driver/lib/MT3620_M4_BSP/cmake_install.cmake
MT3620_M4_Sample_Code/AzureRTOS/AvnetGroveGPS/out/ARM-Debug/lib/MT3620_M4_Driver/MT3620_M4_BSP/threadx/cmake_install.cmake
MT3620_M4_Sample_Code/AzureRTOS/AvnetGroveGPS/out/ARM-Debug/lib/MT3620_M4_Driver/MT3620_M4_BSP/threadx/common/cmake_install.cmake
MT3620_M4_Sample_Code/AzureRTOS/AvnetGroveGPS/out/ARM-Debug/lib/MT3620_M4_Driver/MT3620_M4_BSP/threadx/custom_inc/tx_user.h
MT3620_M4_Sample_Code/AzureRTOS/AvnetGroveGPS/out/ARM-Debug/lib/MT3620_M4_Driver/MT3620_M4_BSP/threadx/ports/cortex_m4/gnu/cmake_install.cmake
MT3620_M4_Sample_Code/AzureRTOS/AvnetGroveGPS/out/ARM-Debug/.cmake/api/v1/reply/index-2021-04-02T09-30-02-0345.json
